{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://th.bing.com/th/id/OIP.679blhCjkcLHbU100XBRpQHaEo?pid=ImgDet&rs=1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <i><h2>Music Recommendation System based on User Facial Expression </h2></i>
            <br>
            <p class="subheading">If I were not a physicist, I would probably be a musician. I often think in music. I live my daydreams in music. I see my life in terms of music.</p>
          </div>
        </div>
      </div>
    </div>
  </header>



  <hr>


{% include "footer.html" %}